#main-content-container {
  font-family: Segoe UI, Roboto, sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #444444;
  letter-spacing: 0.002em;
}

body div.flex.flex-row.justify-between a {
  font-size: initial;
}

#sidebar-nav-wrapper {
  background-color: #182026;
}
#sidebar-nav-wrapper a, #sidebar-nav-wrapper #search-button {
  font-size: 13px;
  font-kerning: auto;
  color: #5c778a;
}
#sidebar-nav-wrapper a:hover {
  background-color: #10161A;
  color: #F5F8FA;
}

h1.title {
  font-weight: 500;
  text-decoration: none;
  font-size: 36px;
}

a {
  color: #337ab7;
}

h1, h2, h3, h4, h5, h6, h7, h8 {
  opacity: 1;
  color: black;
}

a.page-ref:hover {
  color: #106BA3;
  filter: contrast(100%);
  text-decoration: underline;
}

.references-blocks .page-reference:hover {
  background: none;
}

input[type=checkbox] {
  border-radius: 2px;
  border: 1px solid #A7B6C2;
  background: #ffffff;
}

.color-level {
  background: none;
  font-size: 14px;
}
.color-level .blocks-container {
  background-color: #f5f8fa;
  padding: 5px 0;
}
.color-level .blocks-container .pr-2 {
  font-size: 13px;
}
.color-level .blocks-container .block-parents a, .color-level .blocks-container a.opacity-70 {
  opacity: 1;
}
.color-level .blocks-container .page-reference div {
  opacity: 1;
}

div.flex.flex-col a.page-ref {
  color: #106BA3;
  filter: contrast(100%);
}

a.tag:hover {
  color: #A7b6c2;
  text-decoration: underline;
}

a.marker-switch {
  display: none;
}

.tippy-tooltip {
  background-color: #f5f8fa;
  border: 1px solid #ccc;
}

.tippy-wrapper {
  background-color: #ffffff;
}
