#app {
    font-family: Arial, san-serif;
}

#app .popup-body {
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    font-size: 14px;
}

.popup-header {
    font-size: 12px;
    padding: 10px;
    background-color: #182026;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#app .popup-body label {
    font-weight: bold;
    font-size: 12px;
    margin-right: 10px;
    padding: 2px 0;
    display: block;
}

#app .popup-body .text-input-wrapper {
    display: inline-block;
    margin: 5px 0;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 3px;
}

fieldset legend {
    padding: 2px;
    font-size: 12px;
    font-weight: bold;
    color: #182026;
}

#app .popup-body button {
    border: 1px solid #182026;
    background-color: transparent;
    color: #182026;
    padding: 5px;
    width: 100%;
}

#app .popup-body button:hover {
    background-color: #182026;
    color: #ffffff;
}

#app .error {
    color: #d70000;
    padding: 3px 0;
}