.white-theme,
html[data-theme=light], .dark-theme, html[data-theme=dark] {
  /* == Backgrounds == */
  --ct-primary-color: #182026;
  --ct-primary-hover-color: #10161A;
  --ct-secondary-color: #5c778a;
  --ct-tertiary-color: #F5F8FA;
  --ct-primary-text-color: #24292e;
  --ct-icon-color: #5c7080;

  --ct-warning-color: #e54d2e;
  --ct-warning-color-text: var(--ct-primary-color);
  --ct-success-color: #46a857;
  --ct-success-color-text: var(--ct-primary-color);
  --ct-highlight-color: rgba(255,255,60,.4);
  --ct-highlight-color-text: black;

  --ls-link-text-color: var(--ct-primary-text-color);
  --ls-primary-background-color: #FFFFFF;
  --ls-secondary-background-color: var(--ct-primary-color);
  --ls-tertiary-background-color: var(--ct-tertiary-color);
  --ls-quaternary-background-color: var(--ct-primary-hover-color);
  --ls-table-tr-even-background-color: var(--ct-tertiary-color);
  --ls-page-properties-background-color: var(--ct-tertiary-color);

  --ls-page-blockquote-border-color: var(--ct-primary-color);
  --ls-page-blockquote-bg-color: #FFFFFF;

  /* == Text == */
  --ls-primary-text-color: #444444;
  --ls-secondary-text-color: rgba(250,250,250,0.8);
  --atlas-sidebar-text-color: #5c778a;
  --atlas-sidebar-text-color-hover: #a9bdca;

  /* == Checkboxes */
  --ls-page-checkbox-color: #ffffff;
  --ls-page-checkbox-border-color: var(--ct-secondary-color);
  /* == Borders + Outlines */
  --ls-border-color: #586e75;
  --ls-guideline-color: rgba(46, 27, 5, 0.08);

  /* == Misc == */
  --ls-menu-hover-color: var(--ct-tertiary-color);
  --ls-title-text-color: var(--ct-primary-color);
  --ls-block-highlight-color: var(--ct-tertiary-color);
  --ls-icon-color: var(--ct-icon-color);
  --ls-search-icon-color: var(--ct-icon-color);
  --color-level-1: var(--ls-secondary-background-color);
  --color-level-2: var(--ls-tertiary-background-color);
  --color-level-3: var(--ls-quaternary-background-color);
  --color-level-4: var(--cd-fifth-bg-color);
  --color-level-5: var(--cd-sixth-bg-color);
  --color-level-6: #3a7e8e;

  /* === SELECTIONS === */
  --ls-selection-background-color: rgba(255,255,60,.4);

}