#sidebar-nav-wrapper {
    &.cp__sidebar-left-layout:before {
        text-align: initial;
    }

    a {
        font-size: 13px;
        font-kerning: auto;
        color: hsl(204,20%,45%);
    }
    
    a:hover {
        color: #F5F8FA;
    }

    #left-menu {
        opacity: 1;
    }
}