#sidebar-nav-wrapper {
    &.cp__sidebar-left-layout:before {
        text-align: initial;
    }


    #left-menu {
        opacity: 1;
    }



}
.left-sidebar-inner {
    a.item:hover, .nav-content-item .header:hover {
        background-color: var(--ct-primary-hover-color);
    }
}

.new-page-link {
    color: var(--atlas-sidebar-text-color-hover);
    background-color: var(--ct-primary-hover-color);
}
.cp__sidebar-left-layout {
    a {
        font-size: 13px;
        font-kerning: auto;
        color: var(--atlas-sidebar-text-color) !important;
    }

    a:hover {
        color: var(--atlas-sidebar-text-color-hover) !important;
    }
}

#search-button, #left-menu {
    color: #fafafa;
}

#search-button:hover, #left-menu:hover {
    background-color: var( --ct-primary-hover-color);
}