#sidebar-nav-wrapper {
    &.cp__sidebar-left-layout:before {
        text-align: initial;
    }

    a {
        font-size: 13px;
        font-kerning: auto;
        color: hsl(204,20%,45%);
    }
    
    a:hover {
        color: #F5F8FA;
    }

    #left-menu {
        opacity: 1;
    }


}
.left-sidebar-inner {
    a.item:hover, .nav-content-item .header:hover {
        background-color: var(--ct-primary-hover-color);
    }
}

.new-page-link {
    background-color: var(--ct-primary-hover-color);
}