.dark-theme,
html[data-theme="dark"] {
  --ct-highlight-color: rgba(255, 255, 41, 0.7);
  --ls-selection-background-color: var(--ct-highlight-color);
  --ls-primary-background-color: #121a1f;
  --ct-primary-text-color: rgba(250, 250, 250, 0.80 );;
  --ls-title-text-color: #ffffff;
  --ls-link-ref-text-color: #ffffff;
  --ls-primary-text-color: var(--ct-primary-text-color);
  --ls-link-text-color: var(--ct-secondary-color);
  --ls-guideline-color: rgba(250, 250, 250, 0.25);
  --ls-table-tr-even-background-color: rgba(250, 250, 250, 0.01);
  --ls-block-properties-background-color:  rgba(250, 250, 250, 0.01);

  --ls-block-bullet-color: #ffffff;
  --ls-block-bullet-border-color: var(--ls-guideline-color);

  --ls-scrollbar-foreground-color: rgba(0, 0, 0, 0.1);
  --ls-scrollbar-background-color: rgba(0, 0, 0, 0.05);
  --ls-scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.2);

  --ls-page-blockquote-border-color: transparent;
  --ls-page-blockquote-bg-color: rgba(0, 0, 0, 0.2);
  --ls-page-blockquote-color: var(--ct-primary-text-color);

  ::selection {
    color: var(--ct-primary-color);
  }

  #main-content-container .editor-wrapper textarea, #main-content-container .block-content-wrapper .inline {
    line-height: var(--atlas-line-height);
    font-size: var(--atlas-font-size);
  }

  .page-properties {
    background-color: rgba(133, 164, 191, 0.05);
  }


  #main-content-container {
    font-family: var(--atlas-font-family);
    font-size: 1em;
    font-weight: 400;
    letter-spacing: .002em;
  }

  .blocks-container {
    padding: 10px;
    .pr-2 {
      font-size: var(--atlas-font-size)
    }
  }

  .left-sidebar-inner a.item, .left-sidebar-inner .nav-content-item>.bd ul a{
    color: var(--ls-secondary-text-color);
  }

  .color-level .blocks-container {
    background-color: rgba(133, 164, 191, 0.05);
  }

  a.page-ref, a.external-link {
    color: var(--ct-primary-text-color);
    border-bottom: 1px dashed var(--ls-guideline-color)
  }

  a.page-ref:hover, a.external-link:hover {
    border-bottom: 1px dashed #ffffff;
  }

  .color-level {
    background: none;
  }

  .cp__sidebar-left-layout {
    background-color: var(--ct-primary-color);
  }

  .cp__plugins-item-lists .cp__plugins-item-card {
    background-color: transparent;
    border: 1px solid var(--ct-primary-color);
  }

  .cp__plugins-page .tabs .ui__button.active>span {
    color:  var(--ct-primary-color);
  }

  .menu-link:hover, button.menu:focus, button.pull:hover, #sidebar-nav-wrapper .dropdown-wrapper a:hover{
    color:  var(--ct-primary-color);
  }

  #main-content input.form-checkbox:checked {
    background-color: var(--ls-page-checkbox-border-color);
  }

  .page-properties {
    font-size: 13px;
    line-height: 2.2em;

    .page-property-key {
      color:var(--ct-primary-text-color)
    }
  }

  a.external-link:before {
    font-family: tabler-icons!important;
    content: '\ea99';
  }

  .page-reference:hover {
    background-color: transparent;
  }

  .left-sidebar-inner .nav-content-item>.header:hover {
    background-color: var(--ct-primary-hover-color);
    color: #ffffff;
  }

  #main-content-container .ui__button, .ui__modal-panel .ui__button {
    background-color: #ffffff;
    color: var(--ct-primary-color);
    border: none;
  }
  .cp__all_pages {

    .ti-search {
      color: var(--ls-link-text-color);
    }

    .cp__all_pages_table {
      th {
        border-bottom: 1px solid var(--ls-guideline-color);
      }
    }
    .search-wrap  {
      .form-input {
        border: none;
        border-bottom: 1px solid var(--ls-guideline-color);
        border-radius: 0;
      }
      .ui__button {
        background: transparent !important;
        color: #ffffff;
      }
    }
  }

  .cp__themes-installed>.it.is-active {
    color: var(--ct-primary-color)
  }

  .logseq-focus-toolbar, .cp__header {
    a.button.active, a.button:hover {
      color: var(--ct-primary-color)
    }
  }

  .block-highlight, .content .selected {
    background-color: var(--ls-block-properties-background-color);
    border: none;
  }

  .search-results-wrap a:hover {
    color: #ffffff;
  }
}