@import "colors";
@import "theme_light";
@import "sidebar";

body {
  color: var(--ct-primary-text-color);
}

#main-content-container {
  font-family: Segoe UI,Roboto,sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: .002em;
}