#main-content-container {
    font-family: Segoe UI,Roboto,sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: rgba(68,68,68,1);
    letter-spacing: .002em;
}

body div.flex.flex-row.justify-between a {
    font-size: initial;
}