#sidebar-nav-wrapper {
    background-color: #182026;  

    a, #search-button {
        font-size: 13px;
        font-kerning: auto;
        color: hsl(204,20%,45%);
    }
    
    a:hover {
        background-color: #10161A;
        color: #F5F8FA;
    }
}